.coffeeMachine {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 10px;

}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1c1814;
    gap: 160px;
    margin-bottom: 140px;
    img {
        margin: 86px 0 85px 169px;
    }

    .coffeeMachineInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 36px;
        h2 {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 48px;
            line-height: 130%;
            color: #fff;
        }

        h3 {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            line-height: 180%;
            text-transform: capitalize;
            color: rgba(255, 255, 255, 0.8);
            opacity: 0.8;
            margin-right: 89px;
        }

        button {
            border: none;
            padding: 20px 36px;
            width: 215px;
            height: 62px;
            background: #c99e71;
            font-family: var(--third-family);
            font-weight: 700;
            font-size: 18px;
            text-transform: uppercase;
            color: #fff;
            transition: .3s ease-in-out;
            &:hover{
                cursor: pointer;
                background-color: #b98b5a;
            }
        }
    }

}