.reservation {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 140px;
}
.reservation .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reservation .wrapper .reservationMap {
  width: 50%;
  background: url("/map.png") 50% 0%/cover no-repeat;
}
.reservation .wrapper .reservationInfo {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #1c1814;
  padding: 72px 48px;
}
.reservation .wrapper .reservationInfo .tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.reservation .wrapper .reservationInfo .tittle h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  color: #c99e71;
}
.reservation .wrapper .reservationInfo .tittle h3 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 48px;
  color: #fff;
}
.reservation .wrapper .reservationInfo ul {
  padding-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  width: 100%;
}
.reservation .wrapper .reservationInfo ul input {
  border: none;
  display: block;
  outline: none;
  padding: 16px 20px;
  line-height: 180%;
  background: #14110e;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}
.reservation .wrapper .reservationInfo button {
  border: none;
  background: #c99e71;
  margin-top: 56px;
  padding: 20px 36px;
  width: 202px;
  height: 62px;
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.reservation .wrapper .reservationInfo button:hover {
  cursor: pointer;
  background-color: #b98b5a;
}