.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 10px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 36px;
  padding: 140px 0;
}
.features span {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: #c99e71;
  margin-right: 12px;
}
.features li {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}
.features img {
  margin-top: 24px;
  display: block;
}